.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.box:nth-child(4) {
  border: 1px solid black;
  grid-column-start: 1;
  grid-column-end: 4;
  width: 30%;
}

.box {
  border: 1px solid black;
}
